*{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0px;
}

.header{
	background-color: black;
}

.container{
	margin: 0 auto;
	width: 1440px;
}

.header-content{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/*-------------------------------------------*/
.header-content a{
	text-decoration: none;
}

.companyName {
	font-size: 30px;
}

.companyName a{
	color: yellow;
}

.btn{
	background-color: yellow;
	text-align: center;
	font-size: 25px;
	border-radius: 7px;
	}

.btn a{
	color: black;
	margin: 10px;
}

.bd{
	background-color: black;
}

.filter{
	width: 50%;

}

.filter-outside{
	width: 100%;
	background-color: grey;
	display: flex;
	justify-content: center;
}


.filter-inside{
	width: 50%;
	background-color: yellow;
}

.inside-list{
	display: flex;
	justify-content: center;
}

.inside-list li{
	list-style-type: none;
}







